<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home - E-Commerce</title>
    <style>
       .container{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 1px 40px;
       }
    </style>
</head>
<body>

    <div class="container">
        <div>

        <h1>Welcome to the E-Commerce Admin Panel</h1>
        <p>
            This admin dashboard provides tools to manage the e-commerce platform efficiently.
            From managing products and users, everything you need is in one place.
        </p>
        </div>

        <div>
        <h2>About Our Platform</h2>
        <p>
            As an admin, you have full control over product listings, user accounts data.
        </p>
</div>
<div>
        <h2>Key Features</h2>
            <div>🔹 Manage products (create, add, update, delete)</div>
            <div>🔹 Manage Users (create, add, update, delete)</div>
</div>
<div>
        <h2>Admin Guidelines</h2>
        <p>
            Ensure product listings are accurate.
            Regularly check to maintain data.
        </p>
</div>
<div>
        <h2>Need Help?</h2>
        <p>
            If you encounter any issues, contact our support team at <strong>support@ecommerce.com</strong>.
        </p></div>
    </div>

</body>
</html>
