 <div class="user-cont">
    
    <form action="" class="user-form">
        <div>
            <label for="">Enter ID</label><br>
            <input type="text" name="id">
            <div class="btn-cont">
                <input type="button" value="Get by ID" class="button orange">
                <input type="button" value="Delete by ID" class="button red">
            </div>
        </div>
        <div>
            
        <label for="">Enter Name</label><br>
        <input type="text" name="name">
        </div>

        <div>
            
        <label for="">Enter Email</label><br>
        <input type="text" name="email">
        <div class="btn-cont">
            <input type="button" value="Get All" class="button orange">
            <input type="button" value="Insert" class="button green">
            <input type="button" value="Update" class="button orange">
        </div>
        </div>

    </form>

    <div class="user-detail">
        sadf
    </div>
</div>
