 <div class="user-cont">
    
    <form action="" class="user-form" #userForm="ngForm">
        <div>
            <label for="">Enter ID</label><br>
            <input type="text" name="id" [(ngModel)]="id">
            <div class="btn-cont">
                <input type="button" value="Get by ID" class="button orange" (click)="onGetByID()" >
                <input type="button" value="Delete by ID" class="button red" (click)="onDelByID()" >
            </div>
        </div>
        <div>
            
        <label for="">Enter Name</label><br>
        <input type="text" name="name" [(ngModel)]="name">
        </div>

        <div>
            
        <label for="">Enter Email</label><br>
        <input type="text" name="email" [(ngModel)]="email">
        <div class="btn-cont">
            <input type="button" value="Get All" class="button orange" (click)="onGetAll()" >
            <input type="button" value="Insert" class="button green" (click)="onInsert()" >
            <input type="button" value="Update" class="button orange" (click)="onUpdate()" >
        </div>
        </div>

    </form>

    <div class="user-detail">
        sadf
    </div>
</div>
